header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation-bar {
    position: fixed;
    z-index: 3;
    a {
        color: white;
        font-size: 12px;
    }
    .pre-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 10px;
        &.active {
            background:rgba(0, 0, 0, 0.384);
        }
        .visit {
            a {
                padding: 0 10px;
                &:hover {
                    color: $yellow;
                    transition: .3s all ease-in-out;
                }
            }
        }
        .socials {
            a {
                padding: 0 5px;
                &:hover {
                    color: $yellow;
                    transition: .3s all ease-in-out;
                }
            }
        }
    }
}
.menu-burger {
    display: none;
}
